html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.menu {
  justify-content: center;
}

.feedstyle:nth-child(even) {
  background-color: #ffa366;
}

.feedstyle:hover {
  background-color: #ffe0cc;
}

.break-word {
  word-wrap: break-word;
}