html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #fbf2d0;
}

.menu {
  justify-content: center;
}

.break-word {
  word-wrap: break-word;
}

[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type="radio"] + img {
  cursor: pointer;
  padding: 5px;
}

/* CHECKED STYLES */
[type="radio"]:checked + img {
  outline: 2px solid #f00;
}

.ui.theme {
  background-color: #ffc7c4;
  margin: auto;
}

.ui.theme2 {
  background-color: #fbf2d0;
}
