html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.menu {
  justify-content: center;
}

#menubar {
  height: 5%;
  width: 100%;
  z-index: 1;
}

.feedstyle:nth-child(even) {
  background-color: #fe4249;
}

.feedstyle:hover {
  background-color: #ffb1b4;
}

.break-word {
  word-wrap: break-word;
}
